div a[title="Hosted on free web hosting 000webhost.com. Host your own website for FREE."] {
    display: none !important;
}

.font-nunito {
    font-family: 'Nunito', sans-serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.form-row {
    width: 100%;
}

.card.card-mwf-img, .card-mwf-img .card-img {
    border-radius: 33% 9% 22% 6%;
    box-shadow:    2px 1px 4px #2f2f2f;
    min-height:    420px;
    max-height:    420px;
    object-fit:    cover;
}

.card.card-mwf-img.card-mwf-roster, .card-mwf-img.card-mwf-roster .card-img {
    min-height:      210px;
    max-height:      210px;
    object-position: top;
}

.card.card-mwf-img.card-mwf-faction, .card-mwf-img.card-mwf-faction .card-img {
    border-radius: 5px;
}

.card-mwf-img .card-title {
    position:    absolute;
    bottom:      0;
    left:        0;
    color:     #f2f2f2;
    text-shadow: 1px 2px 6px #2f2f2f;
}

.card.card-mwf-text {
    border:     none;
    background: none;
}

.card.card-mwf-text .card-title, .card.card-mwf-text .card-text.card-mwf-text-label {
    margin:  0;
    padding: 0;
}

.card.card-mwf-text .card-subtitle {
    margin-left:   1rem;
}

.card-description {
    margin-left: 2rem;
}

.card.card-mwf-text .card-text.card-mwf-text-value {
    margin-left:   1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 719px) {
    .card.card-mwf-text .card-subtitle{
        margin-left: 0;
    }

    .card.card-mwf-img.card-mwf-faction, .card-mwf-img.card-mwf-faction .card-img {
        min-height: 210px;
        max-height: 210px;
        object-fit: contain;
    }
}